---
import { getCollection } from "astro:content";
import LinkCard from "../components/LinkCard.astro";
import Layout from "../layouts/Layout.astro";
import VerticalBar from "../components/VerticalBar.astro";

const topper = await getCollection("topper");

const topperSider = [...topper].sort((a, b) => a.data.rang - b.data.rang);

import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1>Eltons europeiske topper</h1>
	<div style={{ maxWidth: "50rem" }}>
		{
			topperSider.map((side, index) => {
				return (
					<>
						{index !== 0 && <VerticalBar />}
						<LinkCard
							href={`/topper/${side.slug}`}
							tittel={`${side.data.rang}. ${side.data.høyestePunkt}, ${side.data.land}, ${side.data.moh} moh`}
							landEmoji={side.data.landEmoji}
							fom={side.data.fom}
							tom={side.data.tom}
						/>
					</>
				);
			})
		}
	</div>
</Layout>
