---
import { getCollection } from "astro:content";
import LinkCard from "../components/LinkCard.astro";
import Layout from "../layouts/Layout.astro";
import VerticalBar from "../components/VerticalBar.astro";
const topper = await getCollection("topper");

const topperSortertPaaRang = [...topper].sort(
	(a, b) => a.data.rang - b.data.rang,
);

import "../styles/global.css";
---

<Layout>
	<h1>Eltons europeiske topper</h1>
	<div>
		{
			topperSortertPaaRang.map((topp, index) => (
				<>
					{index !== 0 && <VerticalBar />}
					<LinkCard
						href={`/topper/${topp.slug}`}
						tittel={`${topp.data.rang}. ${topp.data.høyestePunkt}, ${topp.data.land}, ${topp.data.moh} moh`}
						landEmoji={topp.data.landEmoji}
						fom={topp.data.fom}
						tom={topp.data.tom}
						status={topp.data.status}
					/>
				</>
			))
		}
	</div>
</Layout>
